In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("registro_voti.csv")

In [3]:
data

        Cognome  Valutazione1  Valutazione2
0      adelardi           4.1           3.1
1        adessi           8.0           3.3
2         aggio           5.2           4.6
3       allegri           6.3           3.8
4       armadei           7.2           5.0
5        baglio           NaN           7.0
6      benetton           6.5           4.4
7   bergamaschi           8.5           2.1
8         bosco           5.2           3.3
9        capone           7.7           3.0
10      de luca           6.5           6.1
11        detti           6.0           7.6
12    di donato           5.7           5.7
13      fallaci           NaN           2.6
14      fanucci           8.1           5.6
15   fiorentino           4.2           4.3
16      gentile           2.1           3.1
17     marcello           9.3           6.7
18     montalto           8.6           4.6
19      moretti           9.0           5.3
20         neri           6.5           NaN
21        russo           3.4           3.2
22      scutari           6.5           2.4
23      toscano           5.6           5.6
24    trevisani           2.5           2.2
25      venturi           4.4           6.9
26         zito           6.1           3.7
27        zullo           6.2           7.5

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28 entries, 0 to 27
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Cognome       28 non-null     object
 1   Valutazione1  26 non-null     float64
 2   Valutazione2  27 non-null     float64
dtypes: float64(2), object(1)
memory usage: 800.0+ bytes

Vi sono dei valori mancanti ma non è corretto utilizzare
il metodo dropna(), perchè si andrebbe a perdere tutto il record logico

In [5]:
data.dropna(inplace = True)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25 entries, 0 to 27
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Cognome       25 non-null     object
 1   Valutazione1  25 non-null     float64
 2   Valutazione2  25 non-null     float64
dtypes: float64(2), object(1)
memory usage: 800.0+ bytes

In [7]:
data

        Cognome  Valutazione1  Valutazione2
0      adelardi           4.1           3.1
1        adessi           8.0           3.3
2         aggio           5.2           4.6
3       allegri           6.3           3.8
4       armadei           7.2           5.0
6      benetton           6.5           4.4
7   bergamaschi           8.5           2.1
8         bosco           5.2           3.3
9        capone           7.7           3.0
10      de luca           6.5           6.1
11        detti           6.0           7.6
12    di donato           5.7           5.7
14      fanucci           8.1           5.6
15   fiorentino           4.2           4.3
16      gentile           2.1           3.1
17     marcello           9.3           6.7
18     montalto           8.6           4.6
19      moretti           9.0           5.3
21        russo           3.4           3.2
22      scutari           6.5           2.4
23      toscano           5.6           5.6
24    trevisani           2.5           2.2
25      venturi           4.4           6.9
26         zito           6.1           3.7
27        zullo           6.2           7.5