In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("penguins_size.csv")

In [3]:
data

,species,island,culmen_length_mm,culmen_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,FEMALE
...,...,...,...,...,...,...,...
339,Gentoo,Biscoe,NaN,NaN,NaN,NaN,NaN
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,FEMALE
341,Gentoo,Biscoe,50.4,15.7,222.0,5750.0,MALE
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,FEMALE
343,Gentoo,Biscoe,49.9,16.1,213.0,5400.0,MALE

In [6]:
data[["species", "island"]].groupby(["species", "island"]).value_counts()

species    island
Adelie     Biscoe        44
           Dream         56
           Torgersen     52
Chinstrap  Dream         68
Gentoo     Biscoe       124
dtype: int64

In [28]:
data[(data["sex"] == "FEMALE") & (data["body_mass_g"] < 3700)]["species"].count()

85

In [31]:
data[(data["species"] == "Adelie")]["flipper_length_mm"].mean()

189.95364238410596

In [32]:
data[(data["species"] == "Adelie") & (data["sex"] == "MALE")]["flipper_length_mm"].mean()

192.41095890410958

In [36]:
data[(data["species"] == "Adelie") & (data["sex"] == "MALE")]["body_mass_g"].min() / 1000  #kg

3.325