In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("valutazioni.csv")

In [3]:
data

             Materia   Valutazione
0           Italiano             9
1         Matematica             8
2  Educazione Civica             8
3        Informatica             7
4            Inglese             6
5             Storia             9

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Materia       6 non-null      object
 1    Valutazione  6 non-null      int64
dtypes: int64(1), object(1)
memory usage: 224.0+ bytes

In [5]:
data.to_excel("valutazioni.xlsx")